<html>
	<head>
		<title>Blog App</title>
	</head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<body>
		<div class="ui inverted menu">
			<div class="ui container">
				<a class="active item" href="/">
                    <i class="envelope icon"></i>Home
                </a>
				 <a class="item" href="/blogs">
                   Blogs
                </a>
                <a class="item" href="/blogs/new">
                   New Blogs
                </a>
			</div>
        </div>